ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(0,0,0,0);
border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(120,120,120,0.5);
}
body {
background-image: url("https://w.wallhaven.cc/full/wy/wallhaven-wyg8w7.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
}
h1 {
font-family: 'Josefin Sans', sans-serif;
font-size: 600%;
color: white;
text-align: center;
}

div {
display: block;
text-align: center;
float: center;
border-radius: 0;
}
.bot-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
background-color: rgb(0,0,0,0.5);

}
.bot-el {
  float: left;

}

.bot-al .bot-el {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	
}

/* Change the link color to #111 (black) on hover */
.bot-al .bot-el:hover {
  background-color: blue;
}