.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#search-box {
  width: 66vw;
  border-color: green;
  border-width: 0px;
  border-radius: 0px;
  padding: 7px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.SBOX {
  border-color: black;
  border-width: 50px;
  background-color: white;
  width: 80vw;
  border-radius: 50px;
  padding: 10px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.SBOX:hover {
  text-shadow: black;
}

#aab {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

#aad { 
  width: auto;
  max-width: 584px;
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}
#aae {
  height: 44px;
  margin: 0 auto;
  background: #fff;
display: flex;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
z-index: 3;
height: 44px;
margin: 0 auto;
width: 482px;
width: auto;
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}
#aaf {
  flex: 1;
display: flex;
padding: 5px 8px 0 16px;
padding-left: 14px;
font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}

#aag {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  font-size: 14px;
font-family: arial,sans-serif;
color: #222;
}
#aah {
  margin: auto;
}
#aai {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
}
#aaj {
  display: block;
  height: 100%;
  width: 100%;
}
#aak {
  color: #9aa0a6;
}

#aba {
  display: flex;
flex: 1;
flex-wrap: wrap;
}

#abb {
  color: transparent;
flex: 100%;
white-space: pre;
height: 34px;
}
#abc {
  background-color: transparent;
border: none;
margin: 0;
    margin-top: 0px;
padding: 0;
color: rgba(0,0,0,.87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
tap-highlight-color: transparent;
margin-top: -37px;
height: 34px;
font-size: 16px;
width: 76vw;
}

#abd {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
#FPdoLc {
  height: 70px;
  padding-top: 18px;
  top: 53px;
z-index: 0;
text-align: center;
}
#gN089b {
  background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}